.leaflet-div-icon {
    background: transparent;
    border: none;
}

.train-icon {
    background: transparent;
    border: none;
    z-index: 10000 !important;
}

.leaflet-popup-pane {
    opacity: 0.7 !important;
}